@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap");
html {
  overflow-x: hidden !important;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

html body {
  overflow-y: hidden;
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
  scroll-behavior: smooth;
  letter-spacing: 0.24px;
  font-family: 'Open Sans', sans-serif;
}

html body h1,
html body h2,
html body h3,
html body h4,
html body h5,
html body h6 {
  margin-bottom: 0;
  letter-spacing: -.05em;
}

html body p,
html body a,
html body ul li {
  margin-bottom: 0;
}

html body input,
html body button,
html body textarea,
html body label {
  margin-bottom: 0;
}

html body a {
  text-decoration: none !important;
  color: #333;
}

html body a:hover {
  color: #333;
}

html body ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

html body img {
  width: 100%;
  max-width: 100%;
}

html body .btn:active,
html body .btn:focus,
html body .form-control:active,
html body .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

html body button:focus {
  outline: 0;
}

html body textarea {
  resize: none;
}

html body .btn {
  cursor: pointer;
}

.contains-everything {
  height: 100vh;
  width: 100vw;
  background-color: rgba(65, 201, 185, 0.15);
}

.contains-everything .contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: 1000px;
  max-width: 90%;
}

.contains-everything .game-container {
  margin: auto;
  width: 420px;
  max-width: 90%;
}

.contains-everything .game-container > .btn {
  background: #DD7373;
  width: 200px;
  margin: auto;
  color: #fff;
  height: 50px;
  line-height: 50px;
  padding: 0;
  font-weight: 700;
  -webkit-box-shadow: 0 5px 30px 5px rgba(238, 38, 38, 0.15);
          box-shadow: 0 5px 30px 5px rgba(238, 38, 38, 0.15);
}

.contains-everything .game-container .header h1 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 3px;
  color: #DD7373;
}

.contains-everything .game-container .header .score {
  background: #DD7373;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
}

.contains-everything .game-container .header .score h1 {
  color: #fff;
  text-align: center;
  letter-spacing: 0;
  font-size: 14px;
}

.contains-everything .game-container ul.grid-container {
  list-style-type: none;
  width: 420px;
  height: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #1c9e8f;
  border-radius: 4px;
  padding: 6px;
  -webkit-box-shadow: 0 5px 30px 10px rgba(238, 38, 38, 0.15);
          box-shadow: 0 5px 30px 10px rgba(238, 38, 38, 0.15);
}

.contains-everything .game-container ul.grid-container.secondPlayer .grid-element > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.contains-everything .game-container ul.grid-container.secondPlayer .grid-element > span .number {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.contains-everything .game-container ul.grid-container.secondPlayer .grid-element > span a {
  display: block;
  width: 100%;
  height: 50%;
  line-height: 45px;
  text-align: center;
}

.contains-everything .game-container ul.grid-container.secondPlayer .grid-element > span a.two {
  position: relative;
}

.contains-everything .game-container ul.grid-container.secondPlayer .grid-element > span a.two:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 15%;
  width: 70%;
  height: 1px;
  background: rgba(255, 0, 0, 0.15);
  z-index: 9;
}

.contains-everything .game-container ul.grid-container li.grid-element {
  height: calc(100% / 4);
  width: calc(100% / 4);
  padding: 6px;
}

.contains-everything .game-container ul.grid-container li.grid-element.disabled {
  cursor: not-allowed;
  opacity: 0.8;
}

.contains-everything .game-container ul.grid-container li.grid-element.disabled span a {
  display: none;
}

.contains-everything .game-container ul.grid-container li.grid-element.disabled span .number {
  z-index: 9;
}

.contains-everything .game-container ul.grid-container li.grid-element span {
  background: #4cf5e1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
  color: #DD7373;
}
/*# sourceMappingURL=style.css.map */